body {
    font-family: sans-serif;
    background-color: black;
}

h1 {
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

h2 {
    text-align: center;
    color: white;

}

iframe {
    padding-bottom: 20px;
    opacity: 0.75;
}

header img {
    height: 400px;
    width: 100%;
}

body p {
    color: white;

}

iframe:hover {
    opacity: 1;
}

body p:hover {
    color: gray;
}

a {
    background-color: white;
    color: red;
    border: yellow 2px solid;
    padding: 10px;
    border-radius:10px;
    text-decoration:none;
}
.e {
    text-align: right;
    font-size: 20px;
}

footer img {
    width: 80px;
    height: 80px;
}

.y {
    padding-top: 70px;
    margin-top: 00px;
    background-color: black;
    border: black;
}

footer h2:hover {
    color: gray;
}
